body {
margin: auto;
font-family: "Verdana";
font-size: 11px;
background-color: #0f0f0f;

}
#cont {
	width: 1300px;
	display: table;
	margin: 0 auto;
}

.header{
	background-image: url(images/header.png);
	width: 1091px;
	height: 168px;
	margin: 0 auto;
	margin-top: -8px;
}
.srw{
	padding-top: 10px;
	padding-left: 750px;
}
.navigacija{
	background-image: url(images/navigacija.png);
	width: 100%;
	height: 45px;
	margin: 0 auto;
}
.linkai{
	font-family: Tahoma;
	font-size: 11px;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	padding-left: 30px;
	text-decoration: none;
	padding-top: 10px;
}
.linkai a{
	font-family: Tahoma;
	font-size: 11px;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	padding-left: 30px;
	text-decoration: none;
}
.hid {
position:fixed; bottom:-2px;right:0px;
}

.hid a{
	color:#111111;
	text-decoration: none;
}
.hid a:hover{
	color: #555555;
}

.linkai a:hover{
	font-family: Tahoma;
	font-size: 11px;
	color: #3ba1ff;
	text-shadow: 1px 1px 0px #000;
	padding-left: 30px;
	text-decoration: underline;
	font-size: 13px;
}
.panele{
	background-image: url(images/panele.png);
	width: 291px;
	height: 320px;
	margin-left: 830px;
	margin-top: 10px;
	color: #3ba1ff;
}
.panele2{
	background-image: url(images/panele.png);
	width: 291px;
	height: 320px;
	margin-top: 10px;
		color: #3ba1ff;
}
.pavadinimasp{
	font-family: Tahoma;
	font-size: 11px;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	padding-left: 15px;
	padding-top: 20px;
}
.face{
	padding-top: 20px;
	padding-left: 15px;
}
.naujiena{
	background-image: url(images/naujiena.png);
	width: 705px;
	height: 52px;
	margin-top: -320px;
	margin-left: 120px;
	margin-bottom: 15px;
}
.pavadinimasn{
	font-family: Tahoma;
	font-size: 11px;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	padding-left: 15px;
	padding-top: 20px;
}
.parase{
	font-family: Tahoma;
	font-size: 11px;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	padding-left: 12px;
	padding-top: 25px;
}
.patinaujiena{
	font-family: Tahoma;
	font-size: 11px;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	padding-left: 5px;
	padding-top: 5px;
	margin-bottom: 15px;
}
.patinaujiena2{
	font-family: Tahoma;
	font-size: 11px;
	color: #fff;
	background-image:url(images/down.png);
	background-repeat:no-repeat;
	background-position: right;
	text-shadow: 1px 1px 0px #000;
	padding-left: 5px;
	padding-top: 5px;
	margin-bottom: 15px;
}
.direktoriai{
	font-family: Tahoma;
	font-size: 11px;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	padding-left: 5px;
	padding-top: 30px;
	margin-bottom: 15px;
}
.naujiena1{
	background-image: url(images/naujiena.png);
	width: 705px;
	height: 52px;
	margin-top: 0px;
	margin-left: 0px;
}
.pavadinimasn1{
	font-family: Tahoma;
	font-size: 11px;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	padding-left: 15px;
	padding-top: 20px;
}
.parase1{
	font-family: Tahoma;
	font-size: 11px;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	padding-left: 12px;
	padding-top: 25px;
}
.patinaujiena1{
	font-family: Tahoma;
	font-size: 11px;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	padding-left: 5px;
	padding-top: 5px;
	margin-bottom: 15px;
}
.footer{
	background-image: url(images/footer2.png);
	width: 1025px;
	height: 161px;
	margin: 0 auto;
	margin-top: 90px;

}
.footerd{
	background-image: url(images/footer.png);
	width: 1025px;
	height: 161px;
	margin: 0 auto;
	margin-top: 270px;
}.footerk{
	background-image: url(images/footer.png);
	width: 1025px;
	height: 161px;
	margin: 0 auto;
	margin-top: 320px;
}.footera{
	background-image: url(images/footer.png);
	width: 1025px;
	height: 161px;
	margin: 0 auto;
	margin-top: 360px;
}.footersrw{
	background-image: url(images/footer.png);
	width: 1025px;
	height: 161px;
	margin: 0 auto;
	margin-top: 200px;
}
.tekstas{
	font-family: Tahoma;
	font-size: 11px;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	padding-left: 12px;
	padding-top: 25px;
}
.teises{
	font-family: Calibri;
	font-size: 13px;
	color: #fff;
	padding-left: 750px;
	padding-top: 55px;
}